/* Background Image */
body {
    background-image: url(../img/SacredG_BG.jpg);
    background-position: center top;
    background-attachment: fixed;
}

/* Portfolio Image */
body #background-link {
    position: absolute;
    height:11000px;
    text-indent:-9999px;
    width:1440px;
    top: 0; left: 0;
    border: 0;
    float: left;
}

/* HomePage ENTER Button */
#buttonHome {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* .button{
    position: absolute;
    top: 58%;
} */

a.button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
    
    a.button:hover {
    color:#000000;
    background-color:#FFFFFF;
    }

    @media all and (max-width:30em) {
        a.button{
            display:block;
            margin:0.4em auto;
        }

    }
     /* End of HomeButton */
    
/* TRANSITION PAGE TEST */
  /* .loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color:#8400ff;
    width: 0%;
    height: 1000%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
} */
/* END OF TRANSITION PAGE TEST */

/* PORTFOLIO CARD STYLE */
#imgPort{
  height:250px;
  width:100%;
  object-fit: cover;
}


div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
  padding-top: 5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
}
#cardTitlePort{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
#cardTitlePort i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
#cardTitlePort i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:auto;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
/* END OF PORTFOLIO CARD STYLING */

/* ABOUT ME CARD STYLING */
#aboutMeCard {
  position: center;
}


.card-body {
  height:auto
}
.card-text {
  text-align: center;
}

a.button2 {
  display: flex;
  align-items: center;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:500;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  
  }
  
  a.button2:hover {
  color:#ffffff;
  background-color:#000000;
  }

  @media all and (max-width:30em) {
      a.button2{
          display:block;
          margin:0.4em auto;
      }

  }